# Node.js files
node_modules/
npm-debug.log
yarn-error.log

# Django files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.vscode/
.idea/
*.iml

# Other files
.DS_Store
*.log
*.swp
*.swo
